html{
    scroll-behavior:smooth;
}

body {
    margin: 0;
    min-height: 100vh;
}

* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* TOP NAV*/


.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    background-color: white;
    height: 100px;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 100px;
}

.topnav-icon{
    height: 70px;
    width: 120px;
}

.topnav a {
    color: #B8805A;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    position: relative;
}

.topnav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B8805A;
    transform-origin: bottom;
    transition: transform 0.5s ease-out;
}
  
.topnav a:hover:after {
    transform: scaleX(0.8);
    transform-origin: bottom center;
}

#cart-icon {
    margin-top: 10px;
    height: 30px;
    float: right;
    cursor: pointer;
    position: relative;
}

.quantity {
    color: white;
    margin-left: 15px;
    padding-left: 4px;
    padding-bottom: 5px;
    background-color: #B8805A;
    border-radius: 10px;
    width: 13px;
    height: 13px;
    position: absolute;
    z-index: 100;
    font-size: small;
}


/* Página Login*/


.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divLogin {
    margin-top: 5%;
    background-color: white;
    width: 45%;
    height: 60%;
    min-height: 400px;
    max-height: 450px;
    border-radius: 55px;
    box-shadow: 15px 15px 46px 0px #B8805A;
    transition: 1.2s;
    scale: 1;
}

.divLogin:hover{
    transition: 1.2s;
    transform: scale(1.1);
    align-items: center;
    vertical-align: middle;
    box-shadow:15px 15px 46px 5px #5D341B;
    cursor: pointer;
}

.formLogin h1{
    color: #5D341B;
    text-align: center;
    margin-bottom: 35px;
}

.formLogin h4{
    margin-top: 10px;
    font-size: 14px;
    color: red;
    text-align: center;
}

.formLogin {
    margin-top: 4%;
    text-align: center;
}

.formLogin input {
    text-align: center;
    border-radius: 10px;
}

.formLogin-table{
    color: #5D341B;
    display:  grid;
    place-items: center;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.formLogin-table h3{
    color: #B8805A;
}

.btn{
    margin-top: 25px;   
    border-color: #B8805A;
    font-family:'Century Gothic';
    font-size: 20px;
    width: 25%;
    height: 25%;
    color: #D2C9C2;
    background-color: #B8805A;
    border-radius: 10px;
    transition: 0.6s ease-in-out;
    scale: 1;
}

.btn:hover{
    transform: scale(1.1);
    margin-bottom: 10px;
    transition: 0.6s ease-in-out;   
    box-shadow:1px 1px 10px 1px #5D341B;
    cursor: pointer;
}

/* Página index */

.bgImage{
    background-color: #B8805A ;
    height: 100vh;
}


.home_sweats{
    background-color: white;
    opacity: 85%;
    left: 12%;
    top: 27%;
    position: absolute;
    width: 35%;
    height: 80vh;
    border-radius: 20px;
    scale: 1;
}


.home_sweats img{
    transition: 0.6s ease-in-out;
    margin-top: 5%;
    height: 50vh;
}

.home_sweats img:hover{   
    transition: 0.6s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

.home_sweats h1{
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}

.home_sweats h2{
    font-size: 15px;
    text-align: center;
}

.home_calcas{
    background-color: white;
    opacity: 85%;
    left: 55%;
    top: 27%;
    position: absolute;
    width: 35%;
    height: 80vh;
    border-radius: 20px;
    scale: 1;
}

.home_calcas img {
    transition: 0.6s ease-in-out;
    height: 70vh;
    margin-top: -30px ;
}

.home_calcas img:hover{   
    transition: 0.6s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

.home_calcas h1{
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}

.home_calcas h2{
    font-size: 15px;
    text-align: center;
}


/* Página catálogo*/



section {
    padding: 100px 8%;
}

section h1{
    color: #5D341B;
    text-align: center;
    width: auto;
    font-size: 45px;
    text-shadow: 3px 3px 3px #B8805A;
    margin-bottom: 30px;
}

.container-sweats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    cursor: pointer;
    padding-top: 2rem;
}

.container-calcas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    cursor: pointer;
    padding-top: 2rem;
}

.newItems-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    cursor: pointer;
    padding-top: 2rem;
}

.newItems-content span{
    text-decoration: line-through;
}

.box {
    background-color: #f1f1f1;
    padding: 0px 20px 10px 20px;
    box-shadow: 5px 45px 56px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    position: relative;
    transition: all .35s ease;
    scale: 1;
    max-width: 35vh;
}

.box:hover {
    transform: scale(1.1);
}

.product-img {
    max-width: 100%;
}

.box h4 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.box h5 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.add-cart{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: #5D341B;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.add-cart:active{
    transform: scale(1.2);
}

.discount-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Carrinho */

.cart-menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px #5D341B;    
    z-index: 100;
    transition: 0.6s ease-in-out;
}

.cart-menu.active{
    transition: 0.5s ease-in-out;
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 27px;
    margin-bottom: 30px;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box{
    display: grid;
    row-gap: 8px;
}

.cart-product-title{
    font-size: 15px;
    text-transform: uppercase;
}

.cart-price{
    font-size: 13px;
}

.cart-quantity{
    border: 1px solid;
    width: 40px;
    text-align: center;
    font-size: 15px;
}

.cart-remove{
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
    border-top: 1px solid;
}

.total-title{
    font-size: 17px;
    font-weight: 600;
}

.total-price{
    margin-left: 7px;
}

.btn-buy{
    box-shadow: 1px 1px 26px 0px #B8805A;
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #5D341B;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.6s ease-in-out;
}

.btn-buy:hover{
    transition: 0.6s ease-in-out;
    transform: scale(1.1);
}

#close-cart{
    position: absolute;
    top: 15px;
    right: 13px;
    font-size: 30px;
    color: #5D341B;
    cursor: pointer;
}

/* Sobre */

.sobre{
    background-color: #D2C9C2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    height: 80vh;
}

.sobre_conteudo{
    text-align: center;
}

.sobre_conteudo h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.sobre_conteudo p {
    font-size: 18px;
    color: #705444;
    line-height: 1.5;
    margin: 20px 0;
    text-align: center;
    font-weight: 400;
}

.sobre_conteudo ol{
    font-size: 18px;
    color: #705444;
    line-height: 1.5;
    text-align: left;
    font-weight: 400;
}


/* Footer */



.footer_menu {
    text-align: left;
    padding: 35px 30px 100px;
    background-color: white;
    color: #705444;
    margin-bottom: 0;
}

.footer_logo{
    margin-top: 70px;
    width: 120px;
    float: left;
}

.footer_logo:hover {
    transition: 0.5s ease-in-out;
}

.social_icons{
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.social_icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social_icons a:hover{
    background-color: #111;
    transition: 0.5s ease-in-out;
}

.social_icons a i{
    font-size: 2em;
    color: #5D341B;
    opacity: 0.9;
}

.social_icons a:hover i{
    color: white;
    transition: 0.5s;
}


/* Admin  */

.painel_admin{
    text-align: center;
    float:  left;
    background-color: #705444;
    width: 30%;
    height: 100vh;
    box-shadow: 1px 0px 26px 0px #5D341B;
}

.painel_admin h1{
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 30px;
    color: white;
    margin-bottom: 50px;
}

.painel_admin h2{
    padding: 10px;
    font-size: 19px;
    color: white;
    transition: 0.6s;
    text-align: center;
}

.painel_admin h2:hover{
    cursor: pointer;
    transition: 0.6s;
    transform: scale(1.1);
}

.novo_produto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dados_produto{
    background-color: white;
    text-align: center;
    width: 50%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 26px 0px #B8805A;
}

.dados_produto h1{
    color: #705444;
    text-transform: uppercase;
    margin-top: 7%;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10%;
}

.inserir_produto{
    margin-top: 4%;
    text-align: center;
}

.inserir_produto input {
    border-radius: 10px;
    text-align: center;
}

.inserir_produto h3{
    margin-bottom: 50px;
    font-size: 24px;
}

.inserir_produto h4{
    margin-top: 10px;
    font-size: 14px;
    color: red;
    text-align: center;
}

.eliminar_produto{
    margin-left: 10px;
    margin-top: 10px;
}

.eliminar_produto input {
    border-radius: 10px;
    text-align: center;
}

/* Página erro */

.body-erro {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    padding: 50px;
}

.erro-mensagem{
    color: white;
    background-color: #B8805A;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.login-link {
    color: #5D341B;
    font-weight: bold;
    text-decoration: none;
}

/* Responsive */

@media (max-width: 1350px) {
    .divLogin {
        width: 570px;
    }
}

@media (min-width: 1500px) {
    .home_sweats, .home_calcas{
        height: 700px;
    }
}

@media (max-width: 1000px) {
    .home_sweats, .home_calcas {
        top: 20%;
        height: 500px;
    }
}

@media (max-width: 850px) {
    .home_sweats, .home_calcas {
        top: 18%;
        height: 420px;
    }
}

@media (max-width: 700px) {
    .home_sweats, .home_calcas {
        top: 30%;
        height: 60%;
    }
}

@media (max-width: 550px) {
    .home_sweats, .home_calcas {
        top: 25%;
        height: 350px;
    }
}

@media (max-width: 1360px) {
    .login-container{
        height: 350px;
    }
}

@media (max-width: 500px){
    .home_sweats, .home_calcas{
        height: 40%;
        top: 24%;
    }
    .home_sweats h1, .home_calcas h1{
        font-size: 20px;
    }
    .home_sweats h2, .home_calcas h2{
        font-size: 10px;
    }
}